html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 100px;
}

body > .container {
    padding: 100px 15px 0;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}
